/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
}

p {
    color: rgb(85, 85, 85);
}

/* SECTIOM */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
}